# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Переменные окружения
.env
.env.*

# IDE
.vscode/
.idea/
*.code-workspace

# Временные файлы
tmp/